<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.eatsdelivery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EATSDelivery">
        <activity
            android:name=".AddDirectionsClient"
            android:exported="true" />
        <activity
            android:name=".CheckHistoryClient"
            android:exported="true" />
        <activity
            android:name=".EditInfoClient"
            android:exported="true" />
        <activity
            android:name=".RestInfoGerente"
            android:exported="true" />
        <activity
            android:name=".RequestManageGerente"
            android:exported="true" />
        <activity
            android:name=".OrderManageEncargado"
            android:exported="true" />
        <activity
            android:name=".MenuGerente"
            android:exported="true" />
        <activity
            android:name=".MenuEncargado"
            android:exported="true" />
        <activity
            android:name=".OrderDetailsEncargado"
            android:exported="true" />
        <activity
            android:name=".EditInfoRestEncargado"
            android:exported="true" />
        <activity
            android:name=".EditMenuEncargado"
            android:exported="true" />
        <activity
            android:name=".SelectOrdersDriver"
            android:exported="true" />
        <activity
            android:name=".OrderStateDriver"
            android:exported="true" />
        <activity
            android:name=".OrderDetailsDriver"
            android:exported="true" />
        <activity
            android:name=".DeleteRequestEncargado"
            android:exported="true" />
        <activity
            android:name=".ConfirmRequestGerente"
            android:exported="true" />
        <activity
            android:name=".AddRestGerente"
            android:exported="true" />
        <activity
            android:name=".AddDishEncargado"
            android:exported="true" />
        <activity
            android:name=".OrderWaitScreen"
            android:exported="true" />
        <activity
            android:name=".Cart"
            android:exported="true" />
        <activity
            android:name=".OrderInfo"
            android:exported="true" />
        <activity
            android:name=".ProductInfo"
            android:exported="true" />
        <activity
            android:name=".RestaurantList"
            android:exported="true" />
        <activity
            android:name=".RestaurantMenu"
            android:exported="true" />
        <activity
            android:name=".MainMenu"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>